@import "../style/color.scss";
.profil {
  text-align: center;
  text-align-last: center;
  text-align: -webkit-center;
}
img {
  height: 150px;
}
p {
  text-align: center;
  text-decoration: none;
  color: $font-color;
  font-size: 2em;
  &:first-of-type {
    font-size: 2.5em;
  }
}
