@import "../style/color.scss";
.profil {
  text-align: center;
  text-align-last: center;
  text-align: -webkit-center;
}
.picture {
  box-shadow: 0.2em 0.2em 7px 0.1em $dark-color;
  border-radius: 0.5em;
  margin: 0.5em 0;
  height: 150px;
  width: 150px;
  background-image: url("../../assets/logo.png");
  background-size: 150px 150px;
  img {
    // width: 150px;
    height: 150px;
    border: none;
  }
}
p {
  text-align: center;
  text-decoration: none;
  color: $font-color;
  font-size: 2em;
  &:first-of-type {
    font-size: 2.5em;
  }
}
