<div class="container">
    <div class="card"><img src="../../../../assets/logo.svg" alt="phone"></div>
 </div>
 <div class="container">
    <div class="card"><img src="../../../../assets/images/svg/phone-call.svg" alt="phone"></div>
    <div class="card"><img src="../../../../assets/images/svg/gmail.svg" alt="mail"></div>
   <div class="card"><img src="../../../../assets/images/svg/send.svg" alt="message"></div>

 </div>
<div class="container">
   <div class="card"><img src="../../../../assets/images/svg/github.svg" alt="github"></div>
   <div class="card"><img src="../../../../assets/images/svg/gmail.svg" alt="mail"></div>
</div> 
