<div class="container">
    <h1>
       <a href="https://translate.google.com/?hl=fr&sl=auto&tl=fr&text=%E3%82%84%E3%81%82&op=translate">やあ</a>  👋, je suis <i>Ruddy Harifetra RAKOTONDRASOA</i> 
    </h1>
    <p>
        J'ai {{old}} ans et je suis un amateur en développement web, en particulier le front-end, et de la technologie numérique .
    </p>
    <h2>
        Biographie:
    </h2>
    <p>
        &nbsp;- Depuis mon enfance, je suis fasciné par l'art de la technologie modern , en bref l'informatique .<br>
        &nbsp;- J'ai étudié l'éléctronique à l'université polytechnique <a href="https://goo.gl/maps/54VKfRG27WM5cqrFA">ESPA de vontovorona</a>.<br>
        &nbsp;- Peu de temps après, j'ai obtenu mon diplôme et décrocher mon premier Job entant que <i>Testeur qualité web </i>auquel j'y suis toujours.<br>
        &nbsp;- Plus tard dans mon travail, j'ai apris peu à peu le devellopment web avec mon équipe de travail. J'ai suivi des cours sur le Net et m'améliorant par des projets personnels.<br>
        &nbsp;- Le web est devenue tellement puissant de nos jours, et devenue indispensable à notre vie quotidient.
         Depuis les réseaux sociaux jusqu'au Site de vente en ligne, les technologies utiliser sont tellement nombreuses qu'on a du mal à choisir ce qu'on doit apprendre ; et cela ne cesse d'augmenter toujours.
          C'est pour cela que je me suis fixé sur un but en choisissant de devenir développeur <i>Javascript</i> et tous ce qui l'entoure.
    </p>
    <h2>
        Personnalité:
    </h2>
    <p>
        &nbsp;- Je suis autodidacte, qualitatif et sociable. <br>
        J'avais l'habitude d'être curieux sur tout ce que je vois,mais surtout des nouveaux technologies .<br>
        J'apprend plus vite à l'écoute que par la vue.
    </p>
    <h2>
        Projet:
    </h2>
    <p>
        &nbsp;- Le devellopment web m'a donnée une opportunité de création , entant que design , fonctionnalité etc... <br>
        J'ai fabriqué quelque application web pour des fin personnel :
    </p>
        <ul>
            <li>
                <a href="https://foodie-49.web.app/" > 🍔Foodie</a>
            </li>
            <li>
                 📅Agenda
            </li>
            <li>
                   📝Board
            </li>
            <li>
                   💬Chat
            </li>
        </ul>
    
</div>