.pied {
  position: fixed;
  bottom: 1.5em;
  right: 0.1em;
  padding: 0.2em;
  transform: rotate(-45deg);
  span {
    letter-spacing: 1px;
    font-family: "Caveat", cursive;
    font-size: 2vh;
    text-shadow: none;
    &:first-of-type {
      font-family: "Shadows Into Light", cursive;
      &::selection {
        color: white;
        background: #212c3d;
      }
      &::-moz-selection {
        color: white;
        background: #212c3d;
      }
    }
    &::selection {
      color: white;
      background: #92abcd;
    }
    &::-moz-selection {
      color: white;
      background: #92abcd;
    }
  }
}
