<div class="container">
    <div class="selector">
        <ul>
            <li [routerLink]="['/']" routerLinkActive="router-link-active">main </li>
            <li [routerLink]="['/education']" routerLinkActive="router-link-active">etude </li>
            <li [routerLink]="['/skills']" routerLinkActive="router-link-active"> skills</li>
            <li [routerLink]="['/work']" routerLinkActive="router-link-active"> work</li>
            <li [routerLink]="['/none']" routerLinkActive="router-link-active"> forofr</li>
         </ul>
    </div>
    <div class="navbar">
        <select name="menu" >
            <option value="">menu</option>
            <option value="profil">profil</option>
            <option value="cat">Cat</option>
            <option value="hamster">Hamster</option>
            <option value="parrot">Parrot</option>
            <option value="spider">Spider</option>
            <option value="goldfish">Goldfish</option>
        </select>
    </div>
    <div class="link">
        <app-footer></app-footer>
    </div>
</div>