<div class="container">
    <div class="description">
        <div class="profil">
            <img src="../../../../assets/images/png/_MG_2285_2.jpg" alt="" >
        </div>
        <p>
            Développeur, Designer
        </p><br>
        <p>
            &lt; WEB 💻 /&gt; &amp; jeu video🕹️  
        </p>
        <br>
        <p>
            Concepteur de système électronique🤖
        </p>
        
    </div>
    <div class="illustration">
        <p>
            Ruddy <span>Harifetra</span>
         </p>
         <br/>
         <p>
            <i>Ingénieur</i> Informatique appliquée
         </p> <br/>
         <p>
            électronique et système embarqué
         </p>
         
    </div>
    
</div>
<div class="bottom">
   <app-contact></app-contact>
</div>
