.header {
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
  //   box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  position: relative;
  top: 0;
}
.liste {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  padding: 0;
  * {
    padding: 0.5em 1em;
  }
  li {
    cursor: pointer;
    // box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
    text-transform: lowercase;
    &:hover {
      text-decoration: underline;
      text-shadow: 1px 1px #212c3d;
      transition: all 0.7s;
    }
    transition: all 0.7s;
  }
}
