@import "../style/color.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: $light-color;
  height: 100vh;
  width: calc(100vw - 500px);
  padding: 1em;
  box-shadow: inset 0.5em 0em 1em 0.1em $dark;
  // background-image: url("../../assets/Fichier\ 1.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 1000px) {
  .container {
    width: 50vw;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 100vw;
    height: 95vh;
    box-shadow: inset 0em 0.5em 1em 0.1em $dark;
  }
}
