@import "../style/color.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: $light-background;
  height: 100vh;
  width: calc(100vw - 500px);
  padding: 1em;
}
@media screen and (max-width: 1000px) {
  .container {
    width: 50vw;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 100vw;
    height: 70vh;
  }
}
