$dark: #040609;
$dark-background: #1a2230;
$dark-color: #212c3d;
$font-color: #92abcd;
$light-background: #e5e5e5;
$light-color: #f1f1f1;
$sunny: #ff5e00;
$ruddy: #ff0028;
$water: #11ece5;

//NEO
$color-bg: #ebecf0;
$color-shadow: #babecc;
$box-shadow: inset 2px 2px 5px $color-shadow, inset -5px -5px 10px #fff;
$box-shadow2: -5px -5px 20px #fff, 5px 5px 20px $color-shadow;
$box-shadow3: -2px -2px 5px #fff, 2px 2px 5px $color-shadow;
$text-shadow: 1px 1px 0 #fff;
