@import "./color.scss";
@import "./font.scss";
@import "./size.scss";
body,
html {
  background: url("../../assets/images/svg/Tile.svg");
  background-size: 13px;
  background-repeat: repeat;
  width: 100vw;
  height: 100vh;
}
* {
  font-family: "Roboto Mono", monospace;
}
li {
  list-style: none;
}
